<ion-header>
  <ion-toolbar>
    <ion-title>シンプル TODO</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" href='/home'>
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Solid Buttons</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="secondary">
        Help
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-item *ngFor="let t of tasks let i= index" [button]="true"
        (click)="changeTask(i)">
        <ion-label>{{t.name}}</ion-label>
        <ion-reorder slot="start"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>
